[Unit]
Description=someapp%i
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill someapp%i
ExecStartPre=-/usr/bin/docker rm someapp%i
ExecStartPre=/usr/bin/docker pull willrstern/sample-node
ExecStart=/usr/bin/docker run -e APPNAME=someapp%i --name someapp%i -P willrstern/sample-node
ExecStop=/usr/bin/docker kill someapp%i
